/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss Test
 * which makes it higher in priority.
 */

.wp-block-cgb-block-animation-test  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
/*.wp-block-cgb-block-animation-test {
  background: #bada55;
  border: 0.2rem solid #292929;
  color: #292929;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}*/


.gb-animation-panel {
	/*&:after {
		width: 100%;
		height: 1px;
		content: ' ';
		clear: both;
	}*/

	.components-base-control.duration,
	.components-base-control.delay {
		width: 50%;
		/*float: left;*/
		display: inline-block;
		margin-top: -.5em;
		padding: 0 6%;
		box-sizing: border-box;
	}
	.components-base-control.duration {
		text-align: center;
	}
	.components-base-control.delay {
		clear: right;
		text-align: center;
	}
	.components-text-control__input {
		-webkit-appearance: number-input;
		-moz-appearance: number-input;
		-ms-appearance: number-input;
		-o-appearance: number-input;
		appearance: number-input;
		text-align: center;
	}
}